<configuration>
	<configSections>
		<section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
	</configSections>

	<!-- PayPal SDK settings -->
	<paypal>
		<settings>
			<add name="mode" value="sandbox" />
			<add name="clientId" value="AZ2E2m7odd_LfY81cqij7zpwGAICRKlW71mzRKWYCP5foR1NSEhT29u36WZUskVxgUZ8XQJJTywVoiX_" />
			<add name="clientSecret" value="EFeyQAnDxPt2ban19--wGqtE06WFeRxuFIMf64uq7WM52a9ULamL_h-1lN0ZE_5w26KPM_sptxP659mc" />
		</settings>
	</paypal>
</configuration>